@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* line 121 */
.result-box{
    background:#fff;
    padding:20px;
    border-radius: 5px;
    max-width:350px;
    width:100%;
}
.result-box .won-text{
    font-size: 25px;
    display:flex;
}
.result-box .won-text p{
    font-weight:600;
    margin: 0 3px;
}
.result-box .btn{
    display:flex;
    margin-top: 20px;
    justify-content: center;
}
.result-box .btn button{
    font-size: 18px;
    font-weight:500;
    padding: 8px 20px;
    border: none;
    outline:none;
    background:#56baed;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    transition: all 0.3s ease;
}
